body {
  background-color: #ffffff;
}
/* 
.bg-primary {
    color: red;
    background-color: red;
} */

:root {
  --md-primary-fg-color: #14acb6;
  --md-primary-fg-color--light: #31bbc5;
  --md-primary-fg-color--dark: #212529;
  --md-accent-fg-color: #31bbc5;
  --md-accent-bg-color: #31bbc5;
  --md-accent-bg-color--light: #31bbc5;
}

/* .md-footer-copyright {
    visibility: hidden !important;
    height: 0px;
}
.md-footer-copyright__highlight {
    visibility: visible !important;
    display: block !important;
} */

/* @import url('https://fonts.googleapis.com/css?family=Poppins:400'); */

/* html {font-size: 100%;} */

.md-header {
  font-family: "Red Hat Text";
}
body {
  /* background: white; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  /* font-weight: 400; */
  /* line-height: 1.75; */
  /* color: #000000; */
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  /* margin: 3rem 0 1.38rem; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  /* font-weight: 400; */
  /* line-height: 1.3; */
}

/* h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;} */